---
Checks: "-*,
        android-*,
        bugprone-*,
        -bugprone-narrowing-conversions,
        -bugprone-easily-swappable-parameters,
        clang-analyzer-*,
        google-*,
        modernize-*,
        -modernize-avoid-c-arrays,
        readability-identifier-naming,
"
HeaderFilterRegex: '*.hpp'
FormatStyle: none
