---
Checks: "-*,
        android-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-macro-parentheses,
        -bugprone-narrowing-conversions,
        clang-analyzer-*,
        google-*,
        modernize-*,
        -modernize-avoid-c-arrays,
        readability-identifier-naming,
"
HeaderFilterRegex: ''
FormatStyle: none
