build/
dist
releases
src/ruby/**/*.cpp
include/ruby

# Used for mocking out Raylib
src/raylib.cpp
include/raylib.h

vendor/bundle

doc
.yardoc

cli-tool/exports
cli-tool/test-analytics.json
test/exports
test/test-analytics.json

gem/*.gem

.DS_Store
